# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres_secure_pwd
DB_NAME=shopstream_dw

# Airflow Configuration
AIRFLOW_DB_NAME=airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

# DBT Configuration
DBT_PROFILES_DIR=/opt/airflow/dbt_ecommerce
DBT_PROJECT_DIR=/opt/airflow/dbt_ecommerce
